<h1><%= @name %></h1>

<p>This is working with this application. You can definitely start working on your very first app as the following:</p>

<h5> To edit this page, go to: </h5>
<p><ul>
	<li>app/views/layout.erb</li>
	<li>app/views/welcome/index.erb</li>
	<li>controllers/welcome.rb</li>
</ul></p>

<p>For Sinatra documentation, check out <a href="http://sinatrarb.com/">Sinatra</a></p>
