<p>Rails: <a href="http://ffiirree.com:3000/">click here</a></p>
<p>Merb: <a href="http://ffiirree.com:4000/">click here</a></p>
<p>Sinatra-MVC: <a href="http://ffiirree.com/">click here</a></p>
<p>Ramaze: <a href="http://ffiirree.com:5000/">click here</a></p>

<p>Results: <a href="http://grab.by/x7q">click here</a></p>


